/* top banner for alpha warning copied from wayfinding repo*/
	.alpha-top {
		/* border-bottom: 1px solid black !important; */
		padding-top: 2px !important;
		padding-bottom: 2px !important;
		/* position: sticky; */
		/* turn this on if you want it to follow along and stick to the top */
		top: 0;
		background-color: #f2f2f2;
		z-index: 100;
	}

	.alpha {
		/* border-bottom: 1px solid black; */
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: white;
		z-index: 100;
	}


	.alpha-label {

		background-color: black;
		border: none;
		color: white;
		font-weight: 700;
		padding: 8px 8px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		border-radius: 0px;
		font-size: 14px !important;
	}

	.alpha-fill {
		background-color: #f2f2f2;
		padding: .6em 1em .6em .6em;
	}

	.referring-url-container {
		max-width: 600px;
		margin: 20px auto;
		padding: 0 20px;
	}


.admin-navigation {
	margin-left: auto;
	padding: 0.5rem 1rem;
  }
  
  .admin-link {
	color: white;
	text-decoration: none;
	padding: 0.5rem;
	font-size: 0.875rem;
  }
  
  .admin-link:hover {
	text-decoration: underline;
  }

root:{ 
	--gcds-header-margin: 0 0 1.75rem !important;
}
