.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chat-app-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* top banner for alpha warning copied from wayfinding repo*/
	.alpha-top {
		/* border-bottom: 1px solid black !important; */
		padding-top: 2px !important;
		padding-bottom: 2px !important;
		/* position: sticky; */
		/* turn this on if you want it to follow along and stick to the top */
		top: 0;
		background-color: #f2f2f2;
		z-index: 100;
	}

	.alpha {
		/* border-bottom: 1px solid black; */
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: white;
		z-index: 100;
	}


	.alpha-label {

		background-color: black;
		border: none;
		color: white;
		font-weight: 700;
		padding: 8px 8px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		border-radius: 0px;
		font-size: 14px !important;
	}

	.alpha-fill {
		background-color: #f2f2f2;
		padding: .6em 1em .6em .6em;
	}

